@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* header section*/
body {
    font-family: roboto;
    display:flex;
    flex-direction: column;
    margin: 0;
}

.header-box {
    background-color: #1F2937;
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    padding: 0 40px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    padding:16px;
}

.title-sub {
    display: flex;
    justify-content: space-around;
    margin: 150px;
    gap: 30px;
    }

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    width: 400px;
    }

.hero-sub {
    width: 400px;
}

.bitcoin {
    width: 600px;
    height: 300px;
}

.header-links {
    justify-content: flex-end;
}

.header-links, .hero-sub {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    border-radius: 5px;
    width: 125px;
    font-size: 18px;

}

.top-button {
    padding: 8px;
    margin-top: 10px;
}

/*random info section*/
.title2 {
    text-align: center;
    margin: 50px;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.container-info {
    display: flex;
    justify-content: center;
    gap: 45px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 200px;
    color: #1F2937;
    font-size: 18px;    
}

.info, .item {
    max-width: 300px;
    max-height: 200px;
}

.item {
    border: 8px solid #3882F6;
    border-radius: 5px;
}
/*quote section*/
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin: 150px;
    margin-bottom: 0;
}

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 600px;
    justify-content: center;
}

.quote-sig {
    text-align: end;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 300px;
    font-weight: bold;
    margin-bottom: 150px;
    font-size: 26px;
    color: #1F2937;
}
/*last section with signup button & header*/
.bottom-container {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    padding: 40px;
    justify-content: center; 
    align-items: center;
    margin: 150px;
    gap: 150px;   
}

.bottom-button {
    border: #F9FAF8 solid 2px;
    padding: 4px;
}

.call {
    font-size: 24px;
    font-weight: bold;
}

.call-text {
    margin-left: 150px;
}

/*footer*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 100px;
}