@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    font-family: roboto;
    display:flex;
    flex-direction: column;
    margin: 0;
}

.header-box {
    background-color: #1F2937;
    
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
   
}

ul {
    list-style: none;
    display: flex;
    padding: 0 40px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    padding:16px;
}

.title-sub {
    display: flex;
    justify-content: space-around;
    margin: 150px;
    
}


.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    width: 400px;
    
}

.hero-sub {
    width: 400px;
}

img {
    width: 600px; 
    height: 300px; 
    display: flex;
    margin-right: 80px;
    background-color: #3882F6;
   
}


.header-links {
    justify-content: flex-end;
}

.header-links, .hero-sub {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6
    

}

.signup-header {
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding: 6px 8px;
    width: 100px;
    height: 40px;
    margin-bottom: 48px;
    margin-top: 8px;
    
}
